<?xml version="1.0"?>
<!--
/**
 * Copyright © 2011-2017 Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * 
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!--
	browser processor config
	-->	
    <type name="Faonni\Browser\Model\Processor\ProcessorConfig">		
        <arguments>
            <argument name="config" xsi:type="array">
                <item name="browscap_native" xsi:type="array">
                    <item name="label" xsi:type="string">Browscap Native</item>
                    <item name="class" xsi:type="string">Faonni\Browser\Model\Processor\BrowscapNative</item>
                    <item name="fieldMap" xsi:type="array">
						<item name="is_mobile" xsi:type="string">ismobiledevice</item>
						<item name="is_tablet" xsi:type="string">istablet</item>
						<item name="is_reader" xsi:type="string">issyndicationreader</item>
						<item name="is_crawler" xsi:type="string">crawler</item>
                    </item>
                </item>
                <item name="browscap_php" xsi:type="array">
                    <item name="label" xsi:type="string">Browscap Php</item>
                    <item name="class" xsi:type="string">Faonni\Browser\Model\Processor\BrowscapPhp</item>
                    <item name="fieldMap" xsi:type="array">
						<item name="is_mobile" xsi:type="string">ismobiledevice</item>
						<item name="is_tablet" xsi:type="string">istablet</item>
						<item name="is_reader" xsi:type="string">issyndicationreader</item>
						<item name="is_crawler" xsi:type="string">crawler</item>
                    </item>                    
                </item>
            </argument>
        </arguments>
    </type>	
	<!--
	plugin for a class Magento\Customer\Model\Visitor
	-->		
    <type name="\Magento\Customer\Model\Visitor">
        <plugin name="Faonni_Browser" type="Faonni\Browser\Model\Plugin\Visitor" sortOrder="1" />
        <arguments>
            <argument name="ignoredUserAgents" xsi:type="array">
                <item name="google1" xsi:type="string">*</item>
                <item name="google2" xsi:type="string">*</item>
                <item name="google3" xsi:type="string">*</item>
            </argument>
        </arguments>        
	</type>
	<!--
	ui grid
	-->		
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="browser_info_grid_data_source" xsi:type="string">Faonni\Browser\Model\ResourceModel\Info\Grid\Collection</item>
            </argument>
        </arguments>
	</type>
</config>
