<?xml version="1.0"?>
<!--
/**
 * Copyright © 2011-2017 Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * 
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <group id="browser_capabilities">
				<field id="processor" translate="label" type="select" sortOrder="760" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>Advanced Mode Processor</label>
					<source_model>Faonni\Browser\Model\Config\Source\Processor</source_model>                   
				</field> 				
            </group>
        </section>
    </system>
</config>
